/* header start */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.173333rem;
  padding: 0 .4rem;
}

.header > div {
  height: 100%;
} 

.header .header-left {
  width: 1.333333rem;
  font-size: 16px;
  color: #333;
  line-height: 1.173333rem;
}

.header .header-left .header-left-icon{
  display: inline-block;
  width: .266667rem;
  height: .266667rem;
  background-image: url(../images/icon/icon2x.png);
  background-position: -2.8rem -5.333333rem;
  /* 精灵图 缩小一倍 */
  background-size: 11.733333rem auto;
}

.header .header-middle .logo {
  font-size: 17px;
  color: #ccc;
  line-height: 1.173333rem;
}

.header .header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 1.333333rem;
}
.header .header-right .header-right-icon {
  display: inline-block;
  width: .506667rem;
  height: .506667rem;
  background-image: url(../images/icon/icon2x.png);
  background-repeat: no-repeat;
  background-position: -3.853333rem -5.16rem;
  /* 精灵图 缩小一倍 */
  background-size: 11.733333rem auto;
}
/* header end */

/* banner start */
.banner {
  width: 100%;
  height: 4.293333rem;
}
/* swiper start */
.banner .swiper-container {
  width: 100%;
  height: 100%;
}

/* .banner .swiper-container .swiper-slide .swiper-slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 且不说兼容性， 能基本满足图片保持比例显示完全 ，但位置不精确，所以 ，如果仅做展示 还是建议背景图解决
  object-fit: cover;
} */

.banner .swiper-container .swiper-wrapper .swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.banner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) {
  background-image: url(../images/home/banner_1.jpg);
}

.banner .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) {
  background-image: url(../images/home/banner_2.png);
  background-position: center;
}

.banner .swiper-container .swiper-wrapper .swiper-slide:nth-child(4) {
  background-image: url(../images/home/banner_1.jpg);
}

.banner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) {
  background-image: url(../images/home/banner_2.png);
  background-position: center;
}

.banner .swiper-container .swiper-wrapper .swiper-slide .swiper-slide-link {
  display: inline-block;
  width: 100%;
  height: 100%;
}
/* swiper end */
/* banner end */

/* banner1 start */
.banner1 {
  height: 4.453333rem;
  overflow: hidden;
}

.banner1 .banner1-item {
  width: 100%;
}

.swiper-container-1 {
  padding-left: .426667rem;
}
.swiper-container-1 .swiper-wrapper .swiper-slide {
  width: 86%;
}
.swiper-container-1 .swiper-wrapper .swiper-slide:nth-child(2) {
  width: 95%;
}

.banner1 .banner1-item .box-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  height: 2.133333rem;
  width: 1.733333rem;
}
.banner1 .banner1-item .box-item .icon {
  display: block;
  width: 1.173333rem;
  height: 1.173333rem;
  border-radius: 50%;
  background: -webkit-linear-gradient(#F4A77A, #EB6B2B);
  background: -o-linear-gradient(#F4A77A, #EB6B2B);
  background: -moz-linear-gradient(#F4A77A, #EB6B2B);
  background: linear-gradient(to top,#F4A77A, #EB6B2B);
}

.banner1 .banner1-item .box-item .icon::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url(../images/icon/icon2x.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  border-radius: 50%;
  /* 
  由于精灵图是两倍图导出的png , 我们的设计图参考的是375的设计图, 所以这里精灵图也需要整个大图缩小一倍
  精灵图宽:880px, 我们把背景图尺(background-size)寸除以2 ,然后转换rem就可以精确显示精灵图.
  */
  background-size: 11.733333rem auto;
}

.banner1 .banner1-item .box-item .icon-kongfang::after {
  background-position: -1.173333rem 0;
}

.banner1 .banner1-item .box-item .icon-zhuanye::after {
  background-position: -2.346667rem 0;
}

.banner1 .banner1-item .box-item .icon-chufang::after {
  background-position: -3.52rem 0;
}

.banner1 .banner1-item .box-item .icon-ditan::after {
  background-position: 0 -1.12rem /* 42/37.5 */;
}

.banner1 .banner1-item .box-item .icon-chuanglian::after {
  background-position: -1.173333rem -1.2rem /* 45/37.5 */;
}

.banner1 .banner1-item .box-item .icon-jiaju::after {
  background-position: -2.346667rem /* 88/37.5 */ -1.2rem /* 45/37.5 */;
}

.banner1 .banner1-item .box-item .icon-shafa::after {
  background-position: -3.52rem /* 132/37.5 */ -1.2rem /* 45/37.5 */;
}

.banner1 .swiper-slide:nth-child(2) .banner1-item .icon-ditan::after {
  background-position: -5.866667rem /* 220/37.5 */ 0;
}
.banner1 .swiper-slide:nth-child(2) .banner1-item .icon-chuanglian::after {
  background-position: -7.066667rem /* 265/37.5 */ 0;
}
.banner1 .swiper-slide:nth-child(2) .banner1-item .icon-weisheng::after {
  background-position: -8.213333rem /* 308/37.5 */ 0;
}
.banner1 .swiper-slide:nth-child(2) .banner1-item .icon-jiaju::after {
  background-position: -9.36rem /* 351/37.5 */ 0;
}
.banner1 .swiper-slide:nth-child(2) .banner1-item .icon-shafa::after {
  background-position: -9.36rem /* 351/37.5 */ 0;
}
.banner1 .swiper-slide:nth-child(2) .banner1-item .icon-weisheng::after {
  background-position: -5.866667rem /* 220/37.5 */ -1.2rem /* 45/37.5 */;
}
.banner1 .swiper-slide:nth-child(2) .banner1-item .icon-chuanglian::after {
  background-position: -7.066667rem /* 265/37.5 */ -1.2rem /* 45/37.5 */;
}
.banner1 .swiper-slide:nth-child(2) .banner1-item .icon-kongfang::after {
  background-position: -8.213333rem /* 308/37.5 */ -1.2rem /* 45/37.5 */;
}
.banner1 .swiper-slide:nth-child(2) .banner1-item .icon-richang::after {
  background-position: -9.386667rem /* 352/37.5 */ -1.2rem /* 45/37.5 */;
}
.banner1 .swiper-slide:nth-child(2) .banner1-item .icon-zhuanye::after {
  background-position: -10.586667rem /* 397/37.5 */ -1.2rem /* 45/37.5 */;
}

.banner1 .banner1-item .box-item .icon-kongfang {
  background: -webkit-linear-gradient(#F380BA, #D74B8B);
  background: -o-linear-gradient(#F380BA, #D74B8B);
  background: -moz-linear-gradient(#F380BA, #D74B8B);
  background: linear-gradient(to top,#F380BA, #D74B8B);
}
.banner1 .banner1-item .box-item .icon-zhuanye {
  background: -webkit-linear-gradient(#FB9985, #E55239);
  background: -o-linear-gradient(#FB9985, #E55239);
  background: -moz-linear-gradient(#FB9985, #E55239);
  background: linear-gradient(to top,#FB9985, #E55239);
}
.banner1 .banner1-item .box-item .icon-chufang {
  background: -webkit-linear-gradient(#C3D46D, #A1C021);
  background: -o-linear-gradient(#C3D46D, #A1C021);
  background: -moz-linear-gradient(#C3D46D, #A1C021);
  background: linear-gradient(to top,#C3D46D, #A1C021);
}
.banner1 .banner1-item .box-item .icon-ditan {
  background: -webkit-linear-gradient(#F2C695, #ED933E);
  background: -o-linear-gradient(#F2C695, #ED933E);
  background: -moz-linear-gradient(#F2C695, #ED933E);
  background: linear-gradient(to top,#F2C695, #ED933E);
}
.banner1 .banner1-item .box-item .icon-ditan {
  background: -webkit-linear-gradient(#A4B8F4, #657ED8);
  background: -o-linear-gradient(#A4B8F4, #657ED8);
  background: -moz-linear-gradient(#A4B8F4, #657ED8);
  background: linear-gradient(to top,#A4B8F4, #657ED8);
}
.banner1 .banner1-item .box-item .icon-chuanglian {
  background: -webkit-linear-gradient(#FCCA83, #F79A2F);
  background: -o-linear-gradient(#FCCA83, #F79A2F);
  background: -moz-linear-gradient(#FCCA83, #F79A2F);
  background: linear-gradient(to top,#FCCA83, #F79A2F);
}
.banner1 .banner1-item .box-item .icon-jiaju {
  background: -webkit-linear-gradient(#FAA8CC, #E76198);
  background: -o-linear-gradient(#FAA8CC, #E76198);
  background: -moz-linear-gradient(#FAA8CC, #E76198);
  background: linear-gradient(to top,#FAA8CC, #E76198);
}
.banner1 .banner1-item .box-item .icon-shafa {
  background: -webkit-linear-gradient(#BEB8F8, #7C72EF);
  background: -o-linear-gradient(#BEB8F8, #7C72EF);
  background: -moz-linear-gradient(#BEB8F8, #7C72EF);
  background: linear-gradient(to top,#BEB8F8, #7C72EF);
}
.banner1 .banner1-item .box-item .icon-weisheng {
  background: -webkit-linear-gradient(#C3E582, #86B935);
  background: -o-linear-gradient(#C3E582, #86B935);
  background: -moz-linear-gradient(#C3E582, #86B935);
  background: linear-gradient(to top,#C3E582, #86B935);
}

.banner1 .banner1-item .box-item .title {
  /* 必须有宽度 , 下面的 text-overflow: ellipsis; 才会有效*/
  width: 100%;
  /* 这里的字体大小 rem 也有不转换的情况, 我们这里统一转换 */
  font-size: .32rem;
  line-height: .533333rem;
  color: #666;
  text-align: center;
  white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* banner1 end */

/* container start */
.container {
  margin-top: .266667rem;
}

/* 公共title start */
.common-title-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1.173333rem;
  background-color: white;
}
.common-title-box .common-title-box-inner {
  display: flex;
  padding: 0 .933333rem;
  flex-direction: column;
  justify-content: center;
  background:linear-gradient(to right, #fff,  #565656,#fff ) center/100% 1px no-repeat;
}
.common-title-box .common-title-box-inner .title {
  font-size: .426667rem;
  line-height: 100%;
  color: #666;
  padding: 0 .186667rem;
  background-color: white;
  vertical-align: middle;
}
/* 公共title end */

.container .module-box-1 {
  height: 3.92rem;
  background-color: white;
}
.container .module-box-1 .module-item {
  width: 4.853333rem;
  height: 1.813333rem;
  background-color: #F2F4F5;
}
.container .module-box-1 .module-item .module-item-inner {
  width: 4.053333rem;
  height: 1.333333rem;
}
.container .module-box-1 .module-item .module-item-inner .module-item-text {
  height: 100%;
}
.container .module-box-1 .module-item .module-item-inner .module-item-text .module-item-title {
  margin-bottom: .133333rem;
  font-size: .373333rem;
  color: #666;
}
.container .module-box-1 .module-item .module-item-inner .module-item-text .module-item-describe {
  font-size: .266667rem;
  color: #999;
}
.container .module-box-1 .module-item .module-item-inner .module-item-image {
  width: 1.333333rem;
  height: 1.333333rem;
  border-radius: .666667rem;
  background-image: url(../images/home/hot-1.png);
  background-repeat: no-repeat;
  /* background-position: -3.853333rem -5.16rem; */
  background-size: 100%;
}
.container .module-box-1 .module-item:nth-child(2) .module-item-inner .module-item-image {
  background-image: url(../images/home/hot-2.jpg)
}
.container .module-box-1 .module-item:nth-child(3) .module-item-inner .module-item-image {
  background-image: url(../images/home/hot-3.png)
}
.container .module-box-1 .module-item:nth-child(4) .module-item-inner .module-item-image {
  background-image: url(../images/home/hot-4.jpg)
}


.container .module-box-2 {
  height: 4.133333rem;
  background-image:url(../images/home/module-2.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: -6.266667rem 0;
}
.container .module-box-2 {
  overflow: hidden;
}
.container .module-box-2 .module-box-2-inner {
  float: right;
  margin-top: .986667rem;
  margin-right: .613333rem;
  width: 4.133333rem;
  height: 2.533333rem;
}
.container .module-box-2 .module-box-2-inner .module-box-2-inner-text, .module-box-2-inner-button {
  width: 100%;
  height: 1.066667rem;
}
.container .module-box-2 .module-box-2-inner .module-box-2-inner-text p {
  text-align: center;
  color: #999;
  font-size: .373333rem;
  line-height: .533333rem;
}
.container .module-box-2 .module-box-2-inner .module-box-2-inner-button button {
  display: block;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 16px;
  border-radius: .533333rem;
  background:linear-gradient(to right, #FAE462,  #FA9E51);
}

.container .module-box-3 {
  height: 4.773333rem;
  background-color: white;
}

.container .module-box-3 .swiper-container-2 {
  padding-left: .4rem /* 15/37.5 */;
  overflow: hidden;
}
.container .module-box-3 .swiper-container-2 .swiper-wrapper .swiper-slide {
  width: 8.506667rem /* 319/37.5 */;
  height: 4.48rem;
}

.container .module-box-3 .module-box-3-item {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 4.48rem;
  background-image: url(../images/home/module3-1.png);
  background-repeat: no-repeat;
  background-size:100% auto;
}
.container .module-box-3 .swiper-container-2 .swiper-wrapper .swiper-slide:nth-child(2) .module-box-3-item {
  background-image: url(../images/home/module3-2.png);
}
.container .module-box-3 .module-box-3-item .module-box-3-item-info {
  width: 100%;
  height: .906667rem;
  line-height: .906667rem /* 34/37.5 */;
  font-size: .373333rem /* 14/37.5 */;
  color: white;
  background-color: rgba(0,0,0,0.30);
}
.container .module-box-3 .module-box-3-item .module-box-3-item-info .module-box-3-item-info-left {
  text-indent: .4rem /* 15/37.5 */
}
.container .module-box-3 .module-box-3-item .module-box-3-item-info .module-box-3-item-info-left span {
  display: inline-block;
  height: 100%;
  font-size: .266667rem /* 10/37.5 */;
  text-indent: .133333rem /* 5/37.5 */;
}
.container .module-box-3 .module-box-3-item .module-box-3-item-info .module-box-3-item-info-right {
  padding-right: .133333rem /* 5/37.5 */;
}
.container .module-box-3 .module-box-3-item .module-box-3-item-info .module-box-3-item-info-right span{
  font-size: .32rem /* 12/37.5 */;
}


.container .more-box {
  height: 1.2rem /* 45/37.5 */;
  text-align: center;
  
}
.container .more-box .more-box-link {
  height: 100%;
  line-height: 1.2rem /* 45/37.5 */;
  font-size: .373333rem /* 14/37.5 */;
  color: #999;
}
/* container end */


/* footer start */
.footer {
  height: 1.306667rem /* 49/37.5 */;
  background-color: crimson;
}

.footer .footer-inner {
  display: flex;
  height: 100%;
  background: #FAFAFA;
}

.footer .footer-inner li {
  flex: 1;
  text-align: center;
}

.footer .footer-inner li a {
  width: 100%;
  height: 100%;
}

.footer .footer-inner li a .nav-icon {
  display: inline-block;
  width: .693333rem /* 26/37.5 */;
  height: .666667rem /* 25/37.5 */;
  margin-bottom: 3px;
  background-image: url(../images/icon/icon2x.png);
  /* 精灵图 缩小一倍 */
  background-size: 11.733333rem auto;
  background-position: -4.933333rem /* 185/37.5 */ -2.64rem /* 99/37.5 */;
}

.footer .footer-inner li:nth-child(2) a .nav-icon {
  background-position: -6.106667rem /* 229/37.5 */ -2.613333rem /* 98/37.5 */;
}

.footer .footer-inner li:nth-child(3) a .nav-icon {
  background-position: -7.28rem /* 273/37.5 */ -2.613333rem /* 98/37.5 */;
}

.footer .footer-inner li:nth-child(4) a .nav-icon {
  background-position: -8.453333rem /* 317/37.5 */ -2.56rem /* 96/37.5 */;
}

.footer .footer-inner li:first-child.active a .nav-icon {
  background-position: -.266667rem /* 10/37.5 */ -2.613333rem /* 98/37.5 */;
}

.footer .footer-inner li:nth-child(2).active a .nav-icon {
  background-position: -1.413333rem /* 53/37.5 */ -2.613333rem /* 98/37.5 */;
}

.footer .footer-inner li:nth-child(3).active a .nav-icon {
  background-position: -2.56rem /* 96/37.5 */ -2.613333rem /* 98/37.5 */;
}

.footer .footer-inner li:last-child.active a .nav-icon {
  background-position: -3.68rem /* 138/37.5 */ -2.613333rem /* 98/37.5 */;
}

.footer .footer-inner li a .nav-text {
  font-size: .266667rem /* 10/37.5 */;
  color: #999;
}
.footer .footer-inner li.active a .nav-text {
  color: #333;
}
/* footer end */